Repository yanthomasdev/lunaria, pull requests merged in 2024-05, with the labels that each got.

#142 Add VitePress to showcase
  docs/src/assets/showcase/vitepress.dev.png
  docs/src/components/ShowcaseSites.astro
Labels: docs

#143 reorder intro paragraphs
  docs/src/content/docs/blog/introducing-lunaria.md
Labels: docs

#145 Final `core` changes for public beta
  .changeset/sixty-keys-serve.md
  packages/core/src/status/git.ts
  packages/core/src/status/index.ts
  packages/starlight/package.json
Labels: core, starlight

#146 [ci] release
  .changeset/sixty-keys-serve.md
  README.md
  docs/src/content/docs/getting-started.mdx
  docs/src/content/docs/integrations/github-action.mdx
  docs/src/content/docs/reference/runtime.mdx
  examples/vitepress/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/starlight/CHANGELOG.md
  packages/starlight/package.json
  pnpm-lock.yaml
Labels: docs, core, starlight

#141 Add tentative introduction blog post
  docs/astro.config.mjs
  docs/package.json
  docs/src/content/config.ts
  docs/src/content/docs/blog/introducing-lunaria.md
  pnpm-lock.yaml
Labels: docs
